.about {
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 4rem 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 4rem;
}

.about .about-texts {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about .about-texts h2 {
    text-transform: capitalize;
    font-size: var(--text-2xl);
}

.about .about-texts h2+p {
    font-weight: 300;
    margin-top: 1rem;
    font-size: var(--text-base);
}