.footer {
    background-color: var(--accent-color);

    margin-top: 7rem;
    min-height: 50vh;
    position: relative;
}

.footer .copyright {
    color: #fff;
    position: absolute;
    bottom: 1%;
    left: 43%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: var(--text-sm);
}

.footer-grid {
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 80px;
    place-items: center;
    padding-top: 6rem;

}

.footer-grid ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: var(--text-xs);

}

.footer-grid .col1 h3 {
    text-transform: capitalize;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.footer-grid ul li {
    list-style: none;
    margin-bottom: 1rem;
}



.footer-grid .col1 p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 1rem;
}

.footer-grid .col1 span {
    color: var(--secondary-color);
}

.footer .footer-grid .icons {
    display: flex;
    align-items: center;
}

.footer .footer-grid .icons i {
    font-size: 2rem;
    color: #fff;
    margin-left: 0.50rem;
}